<?xml version="1.0"?>
<launch>
    <arg name="vehicleID" value="tum-q7"/>
    <include file="$(find tod_launch)/launch/operator.launch">
        <arg name="vehicleID" value="$(arg vehicleID)"/>
    </include>
    <include file="$(find tod_launch)/launch/vehicle.launch">
        <arg name="vehicleID" value="$(arg vehicleID)"/>
    </include>
</launch>
