<?xml version="1.0"?>
<launch>
    <arg name="vehicleID"/>

    <include file="$(find tod_transform)/launch/tod_transform.launch">
        <arg name="isVehicle" value="true"/>
        <arg name="isOperator" value="false"/>
        <arg name="vehicleID" value="$(arg vehicleID)"/>
    </include>
</launch>
