<?xml version="1.0"?>
<launch>
    <arg name="vehicleID"/>
    <arg name="launchVideo"/>
    <arg name="launchLidar"/>

    <include file="$(find tod_video)/launch/tod_video.launch"
        if="$(eval launchVideo)">
        <arg name="isVehicle" value="true"/>
        <arg name="isOperator" value="false"/>
        <arg name="vehicleID" value="$(arg vehicleID)"/>
    </include>

    <include file="$(find tod_lidar)/launch/tod_lidar.launch"
        if="$(eval launchLidar)">
        <arg name="isVehicle" value="true"/>
        <arg name="isOperator" value="false"/>
        <arg name="vehicleID" value="$(arg vehicleID)"/>
    </include>

</launch>
