<?xml version="1.0"?>
<launch>
    <arg name="launchDirectControl"/>
    <arg name="vehicleID"/>

    <include file="$(find tod_command_creation)/launch/tod_command_creation.launch">
        <arg name="vehicleID" value="$(arg vehicleID)"/>
        <arg name="isVehicle" value="true"/>
        <arg name="isOperator" value="false"/>
    </include>

    <include file="$(find tod_direct_control)/launch/tod_direct_control.launch"
        if="$(eval launchDirectControl)">
    </include>

</launch>
