<?xml version="1.0"?>
<launch>
    <arg name="launchDirectControl"/>
    <arg name="launchSafeCorridorControl"/>
    <arg name="launchSharedControl"/>

    <include file="$(find tod_command_creation)/launch/tod_command_creation.launch">
        <arg name="isVehicle" value="true"/>
        <arg name="isOperator" value="false"/>
    </include>

    <include file="$(find tod_direct_control)/launch/tod_direct_control.launch"
        if="$(eval launchDirectControl)">
    </include>

    <include file="$(find tod_safe_corridor)/launch/tod_safe_corridor.launch"
        if="$(eval launchSafeCorridorControl)">
        <arg name="isVehicle" value="true"/>
        <arg name="isOperator" value="false"/>
    </include>

    <include file="$(find tod_shared_control)/launch/tod_shared_control.launch"
        if="$(eval launchSharedControl)">
        <arg name="isVehicle" value="true"/>
        <arg name="isOperator" value="false"/>
    </include>
</launch>
