<?xml version="1.0"?>
<launch>
    <arg name="launchMultiplot"/>
    <arg name="vehicleID"/>

    <include file="$(find tod_transform)/launch/tod_transform.launch">
        <arg name="isVehicle" value="false"/>
        <arg name="isOperator" value="true"/>
        <arg name="vehicleID" value="$(arg vehicleID)"/>
    </include>

    <include file="$(find tod_launch)/launch/operator/multiplot.launch"
        if="$(eval launchMultiplot)"/>
</launch>
