<?xml version="1.0"?>
<launch>
    <arg name="launchVehicleBridge"/>
    <arg name="vehicleID"/>

    <include file="$(find tod_vehicle_bridge)/launch/tod_vehicle_bridge.launch"
        if="$(eval launchVehicleBridge)">
        <arg name="isVehicle" value="false"/>
        <arg name="isOperator" value="true"/>
        <arg name="vehicleID" value="$(arg vehicleID)"/>
    </include>
</launch>
