<?xml version="1.0"?>
<launch>
    <arg name="vehicleID"/>

    <include file="$(find tod_command_creation)/launch/tod_command_creation.launch">
        <arg name="vehicleID" value="$(arg vehicleID)"/>
        <arg name="isVehicle" value="false"/>
        <arg name="isOperator" value="true"/>
    </include>

</launch>
